<!-- destination.component.html -->

<div class="destination-container">
  <h1>Destination</h1>

  <h2>Places near to Visit Pune</h2>

  <div class="card-container">
    <div class="card">
      <img src="../assets/rajgad.jpg" alt="Place 1" />
      <h3>Rajgad Fort</h3>
      <p>Category: Fort</p>
      <p>
        Rajgad Fort, also known as the Ruling Fort, was the capital of the
        Maratha Empire under the rule of Chhatrapati Shivaji Maharaj for almost
        26 years, after which the capital was moved to the Raigad Fort. It is a
        hill fort situated in the Pune district of Maharashtra.It is located in
        the Sahyadri mountain ranges at an elevation of 1,395 meters above sea
        level.
      </p>
    </div>

    <div class="card">
      <img src="../assets/torna.jpg" alt="Place 2" />
      <h3>Torna Fort</h3>
      <p>Category: Fort</p>
      <p>
        Also, known as Prachandagad, it is the highest fort in Pune and is
        spread over an area of 1.4 km. This fort is a well-known trekking
        destination which can even be trailed by beginners. Torna Fort is a
        perfect choice for a day trek located at the Sahyadri mountain range.
        You will trek through Jhunjar Machi and Budhla Machi to reach the top.
        On reaching Torna Fort, you can visit Budhla tank, Zunjar, Mengai
        Maachi, Devi temple, and Bini Darwaja. During monsoon, you can also view
        waterfalls, and in the background, you will notice the Panshet Dam
        creating scenic ambiance. You can also enjoy camping at its base while
        admiring the picturesque view./p>
      </p>
    </div>

    <div class="card-container">
      <div class="card">
        <img src="../assets/lohgad.jpg" alt="Place 3" />
        <h3>Lohgad Fort</h3>
        <p>Category: Fort</p>
        <p>
          It's one of the famous tourist places near Pune which is actually a
          representation of the golden Peshwa rule in Pune. Lohagarh Fort has a
          strong history with rulers of different kingdoms, invading it to
          varying periods. The magnificent remnants of this fort charm every
          visitor. Trekking to the Lohagad Fort is a viral activity that people
          like to do in Pune.Perched above the Sahyadri hills and facing the
          Pavana Reservoir, the fort offers an excellent opportunity to
          photographers. Further, after your trek to Lohagad Fort, you can visit
          other nearby attractions like Tikona Fort, Visapur Fort, and Pawna
          Dam.
        </p>
      </div>

      <div class="card">
        <img src="../assets/rajmachi.jpg" alt="Place 4" />
        <h3>Rajmachi Fort</h3>
        <p>Category: Fort</p>
        <p>
          Clad in history and ancient tales, the quaint village of Rajmachi is
          also among the best places to visit near Pune in monsoon. Located
          around 78km from the city limits, this hamlet is embraced by the
          enchanting charm of the Sahyadri Mountains and the historic Rajmachi
          Fort serving as the main attraction.With the fortified Shrivardhan and
          Manaranjan forts as the fortified structures, a trek to Rajmachi Fort
          is a must for the adrenaline junkies. Taking you to an astounding
          height of 2,710ft, this hike trails through the dense thickets, easy
          yet thrilling terrains and finally takes you to the summit, where you
          can revisit history along with enjoying panoramic views of the
          surroundings.
        </p>
      </div>

      <div class="card">
        <img src="../assets/visapur.jpg" alt="Place 5" />
        <h3>Visapur Fort</h3>
        <p>Category: Fort</p>
        <p>
          Visapur fort (also called Visapoor fort) is a hill fort near Visapur
          village in Maharashtra, India. It is a part of the Lohagad-Visapur
          fortification. Visapur fort is located at an altitude of nearly 4,000
          ft above sea level in Lonavala. One has to do a real trekking
          expedition to reach this historical fort. It is believed that the fort
          is built centuries back and was thriving with many activities during
          the rules of many Maratha dynasties. Chathrapthi Shivaji Maharaj was
          using this as a place to watch the movements in the downhill and the
          plains.Presently the fort is in ruins and there is not much structure
          left in the fort. The scenic surroundings and the majestic panoramic
          views of the plains are the best attraction here.
        </p>
      </div>

      <div class="card">
        <img src="../assets/tung.jpg" alt="Place 6" />
        <h3>Tung Fort</h3>
        <p>Category: Fort</p>
        <p>
          Tung Fort, also known as Kathingad, is a fort in the peak (tung means
          peak) and is very difficult to approach. The fort is in the Mawal
          region which was ruled by Maratha kings. The fort is constructed at a
          height of 3500 feet and about 1200 feet hilly terrain are with steep
          ascents. The Tung fort is a tough and rough adventurous trekking
          destination. One can start trekking to Tung fort from Phagne Dam in
          Pawna River. The tung fort has already ruined and only the structure
          left was a temple dedicated to Devi Tungai. There are a lake and a
          cave at the fort region. From the pinnacle of the hillock, one can
          enjoy the majestic views of Laghghar and Visapur forts.
        </p>
      </div>

      <div class="card">
        <img src="../assets/shivneri.jpg" alt="Place 7" />
        <h3>Shivneri Fort</h3>
        <p>Category: Fort</p>
        <p>
          Shivneri Fort is an ancient military fortification located near Junnar
          in Pune district in Maharashtra, India. It is the birthplace of
          Chhatrapati Shivaji Maharaj, the founder of the Maratha Empire. The
          fort is situated on a hilltop that overlooks the Junnar city. It is a
          triangular-shaped fort with seven well-defended gates. The fort is
          surrounded by steep cliffs on all sides, making it difficult to
          attack. There are many water tanks and wells within the fort complex,
          which provided a steady supply of water to the fort's inhabitants. The
          best time to visit Shivneri Fort is from October to March. During
          these months, the weather is pleasant and there is less rainfall.
        </p>
      </div>

      <div class="card">
        <img src="../assets/jivdhan.jpg" alt="Place 8" />
        <h3>Jivdhan Fort</h3>
        <p>Category: Fort</p>
        <p>
          Jivdhan is a hill fortress situated 1 km from modern town of Ghatghar
          in Junnar Taluka of Pune district in Maharashtra, India. The fort,
          which rises 1,145 meters above sea level, is located in the Sahyadri
          mountain range. The fort was looted and destroyed by the British upon
          siege between 1815 and 1818. Jivdhan is a part of the 'Famous 5'
          trekking destinations among trekking enthusiasts. Chavaand, Hadsar,
          Shivneri, and Naneghat are the other destinations in the Famous 5
          trek. This is a high difficulty grade trek due to the misleading
          jungle tracks and the necessity and knowledge of using climbing
          equipment. The rock cut steps are wonderfully carved, which lead to
          the kalyan gate.
        </p>
      </div>

      <div class="card">
        <img src="../assets/tikona.jpg" alt="Place 9" />
        <h3>Tikona Fort</h3>
        <p>Category: Fort</p>
        <p>
          Tikona Fort is a dominant hill fortress of Konkan’s Pawan Maval
          region. This is Maharashtra’s popular one-day trekking spot. Locally,
          it is famous by the name Vitandgad. Situated on top of the Tikona
          peak, this fort has an altitude of 3633 feet from the sea level. If
          you take a look at its present-day geography, it resembles a triangle
          and thus named as Tikona. Large fortifications, seven water tanks
          filled with crystal clear water, large doorways, and spectacular
          surrounding views from its bastion sums up the beauty of this place.
          Sahyadri’s green hillocks are just like cherries on the cake!Many
          Maratha dynasties have marked their presence here in the past and
          also, Tikona Fort was known as the centre for Pauna Mawal’s primary
          activities.
        </p>
      </div>

      <div class="card">
        <img src="../assets/pawanalakecamping.jpg" alt="Place 10" />
        <h3>Pawana Lake Camping Site, Pawana dam</h3>
        <p>Category: Camping, Family Gateway</p>
        <p>
          Situated close Lonavala in Maharashtra, this curious goal is the ideal
          spot to invest some calm energy in the organization of family and
          companions. The backwaters of the lake compensate for an excellent
          view which is improved complex amid the rainstorm season and making it
          a perfect place for Pawna lake camping. Lying appropriate in the lap
          of beautiful magnificence, the Pawna Lake is a laid back goal ideal
          for enjoying Maharashtra's charms. This lake is acclaimed for a host
          of activities such as paragliding, advanced kiting and ridge dancing.
        </p>
      </div>

      <div class="card">
        <img src="../assets/lawasacity.jpg" alt="Place 11" />
        <h3>Lawasa City Tour</h3>
        <p>Category: City Tour & Resort</p>
        <p>
          Located at a distance of about 65 km from Pune, the beautifully
          planned city of Lavasa is surrounded by the majestic Western Ghats.
          The city is constructed in the Mulshi Valley and covers a sprawling
          25,000 acres. With such mesmerizing views of hills, valleys, and
          lakes, the city has gained immense popularity among different types of
          travelers. The beauty of this privately planned city lies in the
          seamless blend of stunning infrastructure and the enrapturing beauty
          of nature. Here, you will find different topographical variations such
          as the lofty Sahyadri range, the beautiful rivers, and the gorgeous
          valleys.
        </p>
      </div>

      <div class="card">
        <img src="../assets/kamshet.jpg" alt="Place 12" />
        <h3>Kamshet Paragliding</h3>
        <p>Category: Adventours Paragliding</p>
        <p>
          Kamshet also known as the paragliding capital of India is located in
          the state of Maharashtra. It is 45 km from Pune, 16 km from Lonavala
          and Khandala, and 110 km from Mumbai. Surrounded by the Western Ghats
          and decked with Sahyadri Ranges' beauty, Kamshet is a fairyland with
          rich flora and fauna. It has a quaint vibe coupled with a rich
          cultural heritage, and you will get enchanted with its
          ever-captivating beauty.
        </p>
      </div>

      <div class="card">
        <img src="../assets/kumbhe.jpg" alt="Place 13" />
        <h3>Kumbhe Waterfall</h3>
        <p>Category: Waterfall trekking</p>
        <p>
          It is a great location for hiking. To tour the area, a one-night and
          one-day car trip is required. It offers breathtaking vistas, a
          picturesque drive, and scenery. The best time to go there is in
          Monsoon Season. A stunning waterfall concealed in the foothills is
          called Kumbhe Waterfalls. Very few are aware of it. It’s a lovely
          waterfall, which makes it a great destination for a vacation or
          journey. It’s a fantastic spot to chill out. The waterfalls at Kumbhe
          are close to Mangaon. It is still undiscovered due to its distance
          from major cities and remote locations.
        </p>
      </div>

      <div class="card">
        <img src="../assets/kataldhar.jpg" alt="Place 14" />
        <h3>Kataldhar Waterfall</h3>
        <p>Category: Waterfall trekking</p>
        <p>
          Come monsoon and Kataldhar becomes alive and glorious. Thanks to the
          heavy rains in the region, this seasonal waterfall dances down its way
          to present a captivating sight. Though the waterfall exists no better
          than a trickle for the most part of the year, the rainy season
          enhances its beauty and volume and makes it a sight to behold.
          Reaching the site of the falls is not an easy task, but the sight that
          awaits you at the end of your endeavor is definitely worth the effort.
        </p>
      </div>

      <div class="card">
        <img src="../assets/madheghat.jpg" alt="Place 15" />
        <h3>MadheGhat Waterfall</h3>
        <p>Category: Waterfall trekking</p>
        <p>
          Madhe Ghat Waterfall is a hidden gem located in the western state of
          Maharashtra, India. This waterfall is surrounded by lush green forests
          and is a popular destination for nature lovers, adventure enthusiasts,
          and travelers seeking an escape from the hustle and bustle of city
          life. In this blog post, we will take a closer look at the location,
          physical characteristics, adventure activities, cultural significance,
          and how to reach Madhe Waterfall.The Madhe Waterfall is a stunning
          natural wonder that is sure to impress visitors. The waterfall is
          approximately 50 meters tall and is surrounded by lush green forests
          and rolling hills.
        </p>
      </div>

      <div class="card">
        <img src="../assets/Karla caves.jpg" alt="Place 16" />
        <h3>Karla Caves, Karla</h3>
        <p>Category: Site seeing & Temple</p>
        <p>
          Karle Caves are 16 rock-cut cave temples. It's basically a complex of
          ancient Indian Buddhist protected by the Archaeological Survey of
          India. This place is also popular as India's early rock-cut
          architecture in India that are excavated on the range of hills of the
          Indrayani valley and it is one of the best tourist spots near Pune.
          The oldest of the cave shrines is supposed to date back to 160 BC.
          Visitors will also notice the exquisite sculptures of females, males,
          and creatures in its assembly. The grand chaityagriha, vaulted
          interiors, and arched entrances are the highlights of the Karla Caves.
          Many monks and devotees flock the caves due to its Buddhist
          prominence.
        </p>
      </div>

      <div class="card">
        <img src="../assets/lonavala.jpg" alt="Place 17" />
        <h3>Lonavala City</h3>
        <p>Category: Site Seeing & Waterfall</p>
        <p>
          Lonavala city is one of the most beautiful retreats, that takes you
          away from the maddening rush of the metropolises. It is located in the
          western part of India in the Pune district of Maharashtra.Lonavala
          City is popularly called the “city of caves' and the “Jewel of
          Sahyadri”. That is because the hill station boasts some of the most
          spectacular settings, including luxuriant green valleys, remarkable
          caves, serene lakes and stunning waterfalls.
        </p>
      </div>

      <div class="card">
        <img src="../assets/khandala.jpg" alt="Place 18" />
        <h3>Khandala Ghat, Lonavala</h3>
        <p>Category: Site Seeing & Waterfall</p>
        <p>
          Khandala City is a hill station that is located on the Western Ghats
          Mountain Range of Maharashtra. It is about 3 km from Lonavala, 12 km
          from Khopoli and about 33.4 km from Karjat region. Located at the top
          of Bhor Ghat, this place serves as the main link between the major
          cities of Maharashtra - Mumbai and Pune.Khandala is mainly famous for
          hiking tours to sight panoramic views of the Sahyadri mountain ranges
          in Western Ghats.Khandala is a beautiful place and has got a good
          share of nature’s alluring beauty. As it is surrounded by lush green
          forest covers, misty valleys, and cascading waterfalls, this place
          serves as a great weekend getaway as well as adventure hotspot for
          travellers from various parts of the country.
        </p>
      </div>

      <div class="card">
        <img src="../assets/tamhini.jpg" alt="Place 19" />
        <h3>Tamhini Ghat, Mulshi</h3>
        <p>Category: Site Seeing & Waterfall</p>
        <p>
          There can only be one word to describe the beauty of the Tamhini Ghat
          mountain passage – captivating. The area remains adorned with scenic
          lakes and verdant greenery, making it one of the best weekend getaways
          for nature lovers. Enhancing the charm of this beautiful stretch are
          quite a few big and small cascades, of which the Tamhini tops the
          list. Located between Tamhini and Mulshi, Tamhini Waterfalls near Pune
          is at its gorgeous best during the months of August and September,
          when the monsoon rains enhance its volume abundantly. So, plan your
          trip accordingly.
        </p>
      </div>

      <div class="card">
        <img src="../assets/bhimashankar.jpg" alt="Place 20" />
        <h3>Bhimashankar Wildlife Sanctury</h3>
        <p>Category: Site Seeing & Waterfall</p>
        <p>
          A pristine paradise of nature with lush hills, sparkling waterfalls,
          and dense forests, Bhimashankar Wildlife Sanctuary is the home of the
          Giant Flying Squirrel and is a favourite weekend getaway for people
          from Mumbai and Pune. Located a mere 138 km from Pune, Bhimashankar
          reserve is an all-in-one package of fun, adventure, nature, and
          spirituality. Challenging treks for adventure seekers, temples for
          pilgrims, diverse flora and fauna for nature lovers and wildlife
          photographers, various unique birds for bird watchers, picnic spots
          for families with kids, and beautiful natural locations for couples –
          Bhimashankar Wildlife Reserve has something for every type of
          traveler!
        </p>
      </div>

      <!-- Add more cards as needed -->
    </div>
  </div>
</div>
