/* about-us.component.css */

.about-us-header {
    position: relative;
    text-align: center;
  }
  
  .about-us-header img {
    width: 100%;
    height: auto;
  }
  
  .about-us-header h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff; /* Set the color that contrasts well with your photo */
  }
  
  .about-us-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }

  .team-heading {
    text-align: center;
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; /* Replace 'Arial' with your preferred font */
    margin-bottom: 20px;
  }
  
  .founder-section {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }
  
  .founder-image {
    flex: 0 0 40%; /* Adjust the width of the image column */
  }
  
  .founder-image img {
    width: 70%;
    height: auto;
    border-radius: 8px; /* Optional: Add border radius for rounded corners */
  }
  
  .founder-description {
    flex: 0 0 60%; /* Adjust the width of the description column */
    padding-left: 20px; /* Add spacing between image and description */
  }
  
  .founder-description h3 {
    margin-bottom: 10px;
  }

  .social-icons {
    margin-top: 10px;
  }
  
  .social-icons a {
    margin-right: 10px;
    font-size: 20px;
    color: #007bff; /* Set the color according to your design */
  }
  
  
  .company-description {
    font-size: 16px;
    line-height: 1.6;
    word-spacing: 2px;
  }


.team-members {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .team-member {
    width: calc(50% - 10px); /* Adjust the width and margin as needed */
    margin-bottom: 20px;
  }
  
  .team-member img {
    width: 50%;
    height: auto;
    border-radius: 8px; /* Optional: Add border radius for rounded corners */
  }
  
  .team-member h4 {
    margin-top: 10px;
    font-size: 18px;
  }
  
  .team-member p {
    margin: 5px 0;
  }
  
  
  /* Responsive Styles */
  @media only screen and (max-width: 600px) {
    .about-us-container {
      padding: 10px;
    }
  
    .about-us-header h1 {
      font-size: 24px;
    }
  
    .company-description,
    .founder-section {
      flex-direction: column;
    }
  
    .founder-image,
    .founder-description {
      width: 100%;
    }
  
    .founder-description {
      padding-left: 0;
      margin-top: 10px;
    }
  
    .company-description {
      font-size: 14px;
    }

    .social-icons {
        text-align: center;
      }

    .team-member {
        width: 100%;
      }
  }
  